body {
    background: #252525;
    width: 100%;
    overflow-x: hidden;
    color: ghostwhite;
}

.text-ghostwhite, a:hover .text-ghostwhite {
    color: ghostwhite !important;
}

section {
    height: 100vh;
}

.text-ghostwhite, a:hover .text-ghostwhite {
    color: ghostwhite !important;
}

#name_and_projects {
    background: #151515;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#myFace {
    max-height: 30vh;
    width: auto;
    border-radius: 50% !important;
}