body {
    background: #252525;
    width: 100%;
    overflow-x: hidden;
    color: ghostwhite;
}

.text-ghostwhite, a:hover .text-ghostwhite {
    color: ghostwhite !important;
}

.bg-white {
    background: ghostwhite !important;
}

.bg-none {
    background: none !important;
}

section {
    height: 100vh;
    padding: 2.5vh 0 2.5vh 0;
}

.text-ghostwhite, a:hover .text-ghostwhite {
    color: ghostwhite !important;
}

#firstPage {
    background: #151515;
}

#myFace {
    max-height: 30vh;
    width: auto;
    border-radius: 50% !important;
}

.card {
    border: 1px solid ghostwhite;
    background: none;
    margin: 0 1.5vw;
}

.card-body {
    overflow: hidden;
    text-overflow: ellipsis;
}

#projects_contributions .card {
    max-height: 35vh;
    width: auto;
}

#projects_contributions .card img {
    height: 10vh;
    width: auto;
}

#skills {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

#skills div img {
    height: 15vh;
    width: auto;
}


